.footer-distributed{
    background: whitesmoke;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    text-align: left;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 55px 50px;
}
.footer-left{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-size: 20px;
}
.footer-left h3{
    color: black;

    font-size: 40px;
    padding-top: 30px;
}
.footer-links{
    margin:20px 0 12px;
}
.footer-links a{
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
}
.footer-company-name{
    color: black;
    font-size: 15px;
}
.footer-center{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
.footer-center i{
    font-size: 25px;
    line-height: 1.5;
    padding-top: 30px;
}
.footer-center p{
    display: inline;
    font-size: 20px;
    color: black;
}
.footer-right{
    display: inline-block;
    float: right;
    color: black;
    font-size: 20px;
    padding-top: 30px;
    vertical-align: top;
    width: calc(100% - 30% - 30% - 50px);
}
.footer-company-about h4{
    color: black;
    font-size: 25px;
}
.footer-company-about p{
    padding-top: 20px;
    font-size: 16px;
}
.footer-icons i{
    padding-right: 40px;
}